In [50]:
myList = [49, 28, 23, 40, 72]

### The append() function adds an element onto the end of a list

In [51]:
myList.append(50)
myList

[49, 28, 23, 40, 72, 50]

### The extend() function adds a list onto the end of a list

In [52]:
myList2 = [93, 68, 19, 64, 70]
myList.extend(myList2)
myList

[49, 28, 23, 40, 72, 50, 93, 68, 19, 64, 70]

### The insert() function inserts an element at a specified location

In [53]:
myList.insert(-2, 40)
myList

[49, 28, 23, 40, 72, 50, 93, 68, 19, 40, 64, 70]

### The remove() function removes a specified number from a list

In [54]:
myList.remove(64)
myList

[49, 28, 23, 40, 72, 50, 93, 68, 19, 40, 70]

### The count() function counts the number of times an element appears in a list

In [55]:
list2 = myList.count(40)
list2

2

### The index() function returns the location of the specified element

In [56]:
index = myList.index(50)
index

5

### The pop() function removes the last element in a list and returns it

In [57]:
list3 = [1, 2, 3, ('cat', 'bat'), 4]
print(list3.pop())
print(list3.pop())
list3

4
('cat', 'bat')

[1, 2, 3]

### The sorted() function sorts a list from least to greatest

In [58]:
myList.sort()
myList

[19, 23, 28, 40, 40, 49, 50, 68, 70, 72, 93]

### The copy() function copies a list to a new list

In [59]:
newList = myList.copy()
print(newList)
print(myList)

[19, 23, 28, 40, 40, 49, 50, 68, 70, 72, 93]
[19, 23, 28, 40, 40, 49, 50, 68, 70, 72, 93]

### The clear() function clears out a function

In [60]:
myList.clear()
print(myList)

[]

### The any() function checks if any of the elements in a function are true

In [61]:
bool_list = [True, False, True]
x = any(bool_list)
print(x)

True

### The filter() function filters out the elements that satisfy the argument

In [62]:
letters = ['j', 'a', 'c', 'o', 'b']

def check_vowels(letter):
    vowels = ['a', 'e', 'i', 'o', 'u']
    return True if vowels in letters else False

filter_vowels = filter(check_vowels, letters)

vowels = tuple(filter_vowels)

print(vowels)

()

### The list() function creates a list with the elements passed to it

In [65]:
print(list())
vowel = ('a', 'e', 'i', 'o', 'u')
print(list(vowel))

TypeError: 'int' object is not callable

### The map() function

In [69]:
def addition(n):
    return n + n 

numbers = [1,2,3,4]
result = map(addition, numbers)
print(result)

<map object at 0x000001A7C97F0FA0>

### The cmp() function compares values

In [72]:
n = 12
if cmp(0, n % 2):
    print('odd')
else: 
    print('even')
    
n = 13 
if cmp(0, n % 2):  
    print("odd")
else: 
    print("even")

NameError: name 'cmp' is not defined

### The len() function returns the length of a list

In [76]:
len(vowel)

5

### The max() function returns the largest or "max" number in a list

In [77]:
max_list = [1,4,6,7,8,8,4,1,4,5,6,67,8,9,90]
max(max_list)

90

### The tuple(seq) function returns elements a list as a tuple

In [79]:
tuple_list = [1,2,3,4]
tuple(tuple_list)

(1, 2, 3, 4)